@import url('https://fonts.googleapis.com/css2?family=Lato:ital@1&family=Oswald:wght@300&family=Poppins:wght@300;500&family=Rancho&family=Roboto:ital,wght@0,300;1,300&family=Rubik:ital,wght@1,300&display=swap');

:root {
  --deep-blue: #094b65;
  --light-blue: #6fecec;
  --salmon: #ff6b6b;
  --salmon-lighter: lighten(var(--salmon), 15%);
  --bright-blue: #265df2;
  --bright-blue-lighter: lighten(var(--bright-blue), 15%);
  --grey: #707070;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  overflow-x: hidden;
  background: #fff;
  min-height: 100vh;
}

.slide-body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--deep-blue);
}

#header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
}

#header .logo {
  font-size: 2em;
  color: var(--deep-blue);
  font-weight: 700;
  text-decoration: none;
}

#header ul {
  display: flex;
  align-items: center;
  justify-self: center;
  list-style: none;
}

#header ul li a {
  text-decoration: none;
  font-size: 1em;
  margin: 0 10px;
  font-weight: 600;
  color: #094b65;
  padding: 10px 15px;
  border-radius: 10px;
  transition: 0.4s;
}

#header ul li a:hover,
#header ul li a.active {
  color: #fff;
  background: var(--deep-blue);
}

.home {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100px;
  background: linear-gradient(to top, var(--deep-blue), transparent);
  z-index: 10;
}

.home img {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
  pointer-events: none;
}

.home #text {
  position: absolute;
  font-size: 10vw;
  color: var(--deep-blue);
  text-align: center;
  line-height: 0.5em;
  font-family: 'Rancho', cursive;
  transform: translateY(-50%);
}

.home #text span {
  font-size: 0.2em;
  letter-spacing: 2px;
  font-weight: 400;
  font-family: 'Poppins', sans-serif;
}

#btn {
  padding: 8px 30px;
  display: inline-block;
  text-decoration: none;
  background: #fff;
  color: var(--deep-blue);
  font-size: 1.2em;
  font-weight: 500;
  letter-spacing: 2px;
  border-radius: 40px;
  transform: translateY(100px);
}

.sea {
  position: relative;
  padding: 100px;
  background: var(--deep-blue);
}

.sea h2 {
  font-size: 3.5em;
  margin-bottom: 20px;
  color: #fff;
}

.sea p {
  font-size: 1em;
  color: #fff;
}

.slide-container {
  max-width: fit-content;
  width: 100%;
  background-color: var(--deep-blue);
  padding: 40px 0;
}
.slide-content {
  margin: 0 40px;
  background-color: var(--deep-blue);
  overflow: hidden;
  border-radius: 5px;
}

.card {
  margin-top: 20px;
  margin-bottom: 30px;
  border-radius: 30px;
  overflow: hidden;
  background-color: var(--light-blue);
  padding: 15px;
}

.image-content,
.card-content {
  flex-direction: column;
  align-items: center;
  display: flex;
  padding: 10px 14px;
}

.image-content {
  position: relative;
  row-gap: 5px;
  padding: 25px 0;
}

.overlay {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: var(--salmon);
  border-radius: 25px 25px 0 25px;
}

.overlay::before,
.overlay::after {
  content: '';
  position: absolute;
  right: 0;
  bottom: -40px;
  height: 40px;
  width: 40px;
  background-color: var(--salmon);
}

.overlay::after {
  border-radius: 0 25px 0 0;
  background-color: var(--light-blue);
}

.card-image {
  position: relative;
  height: 150px;
  width: 150px;
  border-radius: 15px;
  background: #fff;
  padding: 3px;
}

.card-image .card-img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  border-radius: 15px;
}

.project-name {
  font-size: 18px;
  font-weight: 500;
  color: #000;
}

.description {
  font-size: 14px;
  color: var(--grey);
  text-align: center;
}

.button {
  border: none;
  font-size: 16px;
  color: #fff;
  padding: 8px 16px;
  background-color: var(--salmon);
  border-radius: 6px;
  margin: 14px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.button:hover {
  background: var(--bright-blue);
}

.swiper-navBtn {
  color: var(--salmon);
  transition: color 0.3s ease;
}

.swiper-navBtn:hover {
  color: var(--salmon);
}

.swiper-navBtn::before,
.swiper-navBtn::after {
  font-size: 40px;
}

.swiper-button-next {
  right: 0;
}

.swiper-button-next {
  left: 0;
}

.swiper-pagination-bullet {
  background-color: var(--salmon);
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background-color: var(--bright-blue);
}

@media screen and (max-width: 768px) {
  .slide-content {
    margin: 0 10px;
  }
  .swiper-navBtn {
    display: none;
  }
}
/** CONTACT SECTION */
.contact {
  background-color: var(--deep-blue);
  padding: 40px;
  text-align: center;
}

.contact h2 {
  color: #fff;
  text-transform: uppercase;
}

/* Style the form */
.contact-form {
  max-width: 400px;
  margin: 0 auto;
  border-radius: 15px;
  background: linear-gradient(-45deg, var(--light-blue) 50%, var(--salmon) 50%);
}

.form-group {
  margin: 20px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  color: #fff;
}

input[type='text'],
input[type='email'],
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

textarea {
  resize: vertical;
}

/** FOOTER SECTION */
.footer {
  background: linear-gradient(to right, var(--salmon), var(--light-blue));
  padding: 20px 0;
}

.footer p {
  color: #fff;
  font-size: 16px;
  text-align: center;
  margin-bottom: 10px;
}

.social-links {
  display: flex;
  justify-content: center;
}

.social-links a {
  margin: 0 10px;
}

.social-links .logo {
  transition: transform 0.2s, color 0.2s;
}

.social-links .logo:hover {
  animation: bounce 0.5s linear;
  transform: scale(1.2);
}

@keyframes bounce {
  20% {
    transform: translateY(-4px);
  }
  40% {
    transform: translateY(0px);
  }
  60% {
    transform: translateY(-2px);
  }
  80% {
    transform: translateY(0px);
  }
}
